# ── Scraping ──────────────────────────────
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.2.1
fake-useragent==1.5.1

# ── Kafka ─────────────────────────────────
kafka-python==2.0.2

# ── Airflow ───────────────────────────────
apache-airflow==2.9.1

# ── Database ──────────────────────────────
psycopg2-binary==2.9.9
sqlalchemy==2.0.30

# ── Data processing ───────────────────────
pandas==2.2.2
python-dotenv==1.0.1
